@import url("https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/source.css");
@import url("https://puckzxz.github.io/NotAnotherAnimeTheme/build/v3/naat.v3.css");

:root {
    --bg-nagato: url('https://files.catbox.moe/m3vq27.jpg');
    --theme-background-image: var(--bg-nagato);

    /*Main*/
    --main-theme-color: rgb(220, 17, 2);
    /*dark color calculate using css color-mix(in srgb, var(--main-theme-color) 50%, rgb(0, 0, 0))*/
    --main-theme-color-dark: #6e0801;
    --theme-transparency: #000000c0;

    --home-icon-image: url('https://i.imgur.com/AZFNXE3.jpeg');
    --home-icon-image-zoom: 100%;
    
    --server-listing-width: 65px;
    --mention-color: #faa61a0d;
    --mention-sider: #faa61aff;
    --mention-hover-color: #faa61a14;

    --category-background-color: #ffffff;
    --category-hover-color: #ffc5dd;

    --unread-server-animation: none;
    --video-screen-button-background-color: #c8c8c833;
    --video-screen-button-foreground-color: #ffffffff;
    --video-screen-button-background-hovor-color: #c8c8c866;
    --video-screen-button-foreground-hovor-color: #ffffffff;
    --member-listing-role-color: #ffffff;
    --embed-background-transparency: #00000099;

    --message-box-transparency: #00000099;
    --message-box-backdrop-filter: 10px;
    --message-hover-buttons-background: #c8c8c81a;
    
    --context-menu-transparency: #0f0f0f;
    
    --add-discover-icon-transparency: #c8c8c826;
    --add-discover-icon-color: var(--main-theme-color);
    --channel-limit-count-color: var(--main-theme-color);
    --channel-limit-background-left: #c8c8c81a;
    --channel-limit-background-right: #c8c8c833;

    --scrollbar-width: 7px !important;

    /*Mark as read*/
    --new-messages-bar-font-color: #ffffff; 
    --message-search-container-background-color: #151719;

    --text-voice-channel-color: #8e9297ff;
    --text-voice-channel-hover-color: #dcddde; /*#dcddde*/
    --text-voice-channel-selected-text-color: #ffffff;
    --unread-text-channel-color: #ffffff;
    --unread-text-channel-bubble-color: #ffffff;
    --folder-background-color: #2f3136 !important;
    --expanded-folder-background-color: #00000000;
    --reaction-emoji-background-color: #00000000;
    --reaction-emoji-border-color: 1px solid transparent;
    --reaction-emoji-hover-background-color: #ffffff1a;
    --reaction-emoji-hover-border-color: #ffffff33;
}

/*Message box popout blur*/
.theme-dark .autocomplete-3NRXG8 {
  backdrop-filter: blur(5px);
}

/*The thing next to the popout of message box*/
.wrapper-3z7DuG {
  background-color: #00000080;
}

/*Message box in small profile popout*/
.input-2z42oC{
  background-color: #0f0f0f99;
}

/* Hide all paid button in DM */
[href="/store"],
[href="/shop"] {
  display: none;
}

/* Hide gift button in text box */
[aria-label="Send a gift"] {
  display: none;
}

/* Fix broken (blue text color) button texts */
.contents_fb6220 {
  color: white;
}

/* All buttons */
.lookFilled__19298 {
  --button-background: var(--main-theme-color) !important;
  background-color: var(--main-theme-color) !important;
}

/* Hide top section fade */
.children__32014:after {
  display: none;
}

/* Hide channel list fade */
.container__590e2:after {
  display: none;
}

/* Selected/Current active channel */
.modeSelected__487d6 {
  background-color: rgba(220, 17, 2, 0.4) !important;
}

/* Selected member */
.member_aa4760.selected__9800b {
  background-color: transparent !important;
}

.members__9f47b .container__4f20e.selected__9800b .layout_bb8e67 {
  background-color: rgba(220, 17, 2, 0.4) !important;
}

/* Server Name Title */
.sidebar_ded4b5 .container__7c79d:not(.hasBanner_e78601) .header__104ca {
  background-color: transparent !important;
}

/* Top Bar, Message History, Right Sidebar */
.chat__52833 {
  background-color: transparent !important;
}

/* Chat box surrounding BG */
.form__13a2c {
  background-color: transparent !important;
}

/* Nitro boost progress bar */
.progressBar_db0972 {
  background: linear-gradient(to right, white, red) !important;
}

/* Title bar, left part. */
.wordmark__0d178.wordmarkWindows__05c46:before {
  content: "nameless";
  font-weight: 700;
}

/* Title bar, right part. */
.wordmark__0d178.wordmarkWindows__05c46:after {
  content: "*";
}

/* Un-transparent the GIF/Sticker/Emoji picker. */
/* The one right below is to fix the broken search UI. */
.contentWrapper__321ed {
  background-color: #151719;
}

.header_f71767, .header_f7f1f3 {
  background-color: transparent;
}

/* GIF/Sticker icon hover on message box. */
.buttonWrapper__69593 svg:hover {
  color: var(--main-theme-color) !important;
}

/* GIF/Sticker search box. */
.container_e4c233 .input_f4043f {
  border: 3px solid var(--main-theme-color) !important;
  border-radius: 15px;
}

/* GIF hover */
.result_e1fc74:hover:after {
  box-shadow: inset 0 0 0 2px var(--main-theme-color), inset 0 0 1px 3px #2f3136 !important;
}

/* "Add Sticker" icon */
.iconWrapper_ced58f {
  background-color: var(--main-theme-color);
}

/* Download, Add Server and Discovery button */
.circleIconButton_d8df29:hover, 
.circleIconButton_d8df29.selected__5250e,
.circleIconButton_d8df29:active {
  background-color: var(--main-theme-color) !important;
}

/* Discovery category hover */
.categoryItem_b1be5c:hover  {
  background-color: rgba(220, 17, 2, 0.6) !important;
}

/* Discovery category active */
.selected__9800b {
  background-color: var(--main-theme-color) !important;
}

/* Discovery dupe color fix */
.sidebar_ded4b5 .container__4f20e.selected__9800b .layout_bb8e67 {
  background-color: transparent;
}

/* Discovery remove BG */
.pageWrapper_fef757 {
  background-color: transparent !important;
}

/* Student Hubs remove BG */
.thin_b1c063 {
  background-color: transparent !important;
}

/* Student Hubs "Join Hub" text alignment fix. */
.text-sm-semibold__41578.addButton__7e2ae {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* "Try searching for them." text in discovery. */
.button_afdfd9.lookLink__93965.lowSaturationUnderline__95e71.colorLink_b651e5.sizeMin__94642.grow__4c8a4 .contents_fb6220 {
  color: rgb(220, 17, 2) !important;
}

/* BOT tag */
.botTag_a52f38, .botTag__4211a {
  background-color: var(--main-theme-color) !important;
}

/* Mark as read button */
.barButtonBase__8fa46 {
  background-color: rgb(220, 17, 2) !important;
}

/* Unread divider & pill */
.messagesWrapper_ea2b0b, .divider_b9338f {
  border-top-color: var(--main-theme-color) !important;
}

.unreadPill__715fc, .content_d67847 {
  background-color: var(--main-theme-color) !important;
}

/* Old messages */
.divider__8cf56.hasContent__8519e.divider_b9338f.hasContent_fea365 .content_d67847 {
  background-color: var(--main-theme-color) !important;
  color: white !important;
}

/* Server folder */
.closedFolderIconWrapper__7321f {
  background-color: #151719 !important;
}

/* User Area */
.container_ca50b9 {
  background-color: var(--main-theme-color-dark) !important;
  border: 2px solid var(--main-theme-color);
  border-radius: var(--popout-radius-big);
}

/* Community/Partner/... icon */
.flowerStar_a9981e path {
  fill: var(--main-theme-color);
}

/* Landing page BG */
.container__5c7e7 {
  background-color: transparent !important;
}

/* "Active Now" listing. */
.itemCard__1f162 {
  background-color: #1517199f !important;
}

/* "Find/start a convo" search bar. */
.searchBarComponent__22760 {
  background-color: #1517199f !important; 
}

/* margin for border */
.interactive_a868bc {
  margin: 2px;
}

/* Friends/Message Requests/Shop button */
.interactive__776ee.selected_d94cf9 {
  margin: 0 !important;
  border: 2px solid var(--main-theme-color) !important;
  background-color: var(--main-theme-color-dark) !important;
}

/* "New" in "channel & roles" */
.newChannel_f99b92.textBadge__45d79.base__92a12.eyebrow__60985.baseShapeRound__95d0f {
  background-color: var(--main-theme-color) !important;
}

/* "You are currently in preview mode" text */
.notice__99c03.notice__5fd4c {
  background-color: var(--main-theme-color) !important;
}

/* Server status: streaming, staging, ... */
.iconBadge_fdf33a, .pinIcon__2e5b2 {
  background-color: var(--main-theme-color) !important;
}

/* "New" in forum. */
.text-xs-semibold_a3a2b4 {
  color: var(--main-theme-color) !important;
}

/* "New Unreads" button */
.bar__004d9 {
  background-color: var(--main-theme-color);
}

/* "New Unreads" text */
.text-xs-semibold_a3a2b4.barText__1a44f {
  color: white !important;
}

/* Forum BG */
.container_b181b6 {
  background-color: transparent !important;
}

/* "Acronym" Discord Guild Icon */
.childWrapper__01b9c.acronym_cd4809 {
  background-color: #151719f0 !important;
}

/* Mention highlight */
.mentioned__58017 .messageContent__21e69 {
  padding: 6px 12px !important;
  margin-left: -8px !important;
  background-color: rgba(220, 17, 2, 0.3) !important;
}

/* Reply highlight fix */
.repliedTextContent__75526.markup_a7e664.messageContent__21e69 {
  background-color: rgba(220, 17, 2, 0.1) !important;
}

/* Shop BG */
.pageWrapper__582b9.pageWrapperBackgroundPrimary__74f14 {
  background-color: transparent !important; 
}

/* Channels & Roles menu */
.container__10dc7 {
  background-color: transparent !important; 
}

/* Channels & Roles checked items */
.checkIcon__5aa1f {
  background-color: var(--main-theme-color); 
}

.checkbox_c7f690.box__66058.checked__24ad6 {
  background-color: var(--main-theme-color); 
}

/* Keep message clean by using transparent */
.wrapper__09ecc {
  background-color: #00000000 !important;
}

/* Remove that weird triagle next to every 2nd message */
.wrapper__09ecc:not(.groupStart__56db5):before, .wrapper__09ecc:not(.groupStart__56db5):after {
  display: none;
}

/* Match message hover color */
.theme-dark .message__80c10.selected_fd9051, .theme-dark.mouse-mode.full-motion .message__80c10:hover {
  background-color: var(--message-color-hover) !important;
}

/* Weird scrollbar behavior on the browser due to default import CSS */
.auto_a48086,
.thin__62e51,
.thin_b1c063 {
  scrollbar-width: auto !important;
  scrollbar-color: auto !important;
}

.messagesWrapper_ea2b0b.group-spacing-16 .groupStart__56db5 {
  --group-spacing: 0.3rem !important;
}

.speaking_c1b30e,
.avatarSpeaking_c95053 {
  box-shadow: inset 0 0 0 2px var(--main-theme-color),inset 0 0 0 3px var(--main-theme-color-dark);
  transition: box-shadow 0.2s;
}
